<div class="container w-11/12 m-auto pt-12  flex justify-around items-baseline flex-wrap">
    <app-card gameCover="assets/bt-1.jpg" gameLabel="DIGITAL" gameType="DIGITAL | PS4" gamePrice="R$129,99"></app-card>
    <app-card gameCover="assets/bt-4.jpg " gameLabel="EXCLUSIVE" gameType="PHISICAL | PS5" gamePrice="R$269,99"></app-card>
    <app-card gameCover="assets/ac-cover.jpg" gameLabel="BEST" gameType="DIGITAL | PS4" gamePrice="R$187,99"></app-card>
    <app-card gameCover="assets/bt-hardline.jpg " gameLabel="NEW" gameType="DIGITAL | PS4 PS5" gamePrice="R$350,99"></app-card>
</div>
