<div class="menu-bar-container flex flex-row fixed z-50 bg-white w-full h-10">
    <div class="logo ml-8 flex items-center">
        <img src="assets/ps-logo.png" alt="" width="140px" height="32px">
    </div>
    <div class="item flex m-auto items-center"> 
        <ul class="flex">
            <li class="p-1 mr-4"><a class=" text-black p-1 hover:text-blue-500" href="">Youtube</a></li>
            <li class="p-1 mr-4"><a class=" text-black p-1 hover:text-blue-500" href="">Linkedin</a></li>
            <li class="p-1 mr-4"><a class=" text-black p-1 hover:text-blue-500" href="">Github</a></li>
        </ul>
    </div>
</div>
